<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Modulo Gestor de Notas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Modulo Gestor de Notas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        var s = true;
                        if (User.IsInRole("SuperAdmin"))
                        {
                            <li>@Html.ActionLink("Secciones", "Index", "Seccion")</li>
                            <li>@Html.ActionLink("Materias", "Index", "Materias")</li>
                            <li>@Html.ActionLink("Períodos", "Index", "Periodos")</li>
                            <li>@Html.ActionLink("Grupos", "Index", "Grupos")</li>
                            <li>@Html.ActionLink("Asignar Profesores a Grupos", "", "")</li>
                        }
                        if (User.IsInRole("Profesor"))
                        {
                            <li>@Html.ActionLink("Asignar Notas", "", "")</li>
                        }
                        if (User.IsInRole("Estudiante"))
                        {
                            <li>@Html.ActionLink("Seleccion de Materias", "estudiantesSeleccionanGrupos", "Grupos")</li>
                            <li>@Html.ActionLink("Ver Notas", "", "")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Modulo Getor de Notas</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
